{% extends "base.html" %}

{% block titulo %}
Formulario
{% endblock %}

{% block main %}
<div id="menu">
	<button onclick="conectar();">Conectar</button>
</div>


<input type="text" id="mensaje">

<button onclick="enviarMensaje();">Enviar</button>


<script type="text/javascript">
	function conectar(){
		$.ajax({
	            data : {csrfmiddlewaretoken: "{{ csrf_token }}"},
	            url : 'conectar/',
	            type : 'post',
	            success : function(data){
	                if (data) {
	                	$('#menu').html('<button onclick="desconectar();">Desconectar</button>');
	                }
	            }
	        });
	}
	function enviarMensaje(){
        var mensaje = $('#mensaje').val();
        if (mensaje!='') {
        	$.ajax({
	            data : {'mensaje':mensaje,csrfmiddlewaretoken: "{{ csrf_token }}"},
	            url : 'enviarMensaje/',
	            type : 'post',
	            success : function(data){
	                //
	            }
	        });
        };
    }
    function desconectar(){
		$.ajax({
	            data : {csrfmiddlewaretoken: "{{ csrf_token }}"},
	            url : 'desconectar/',
	            type : 'post',
	            success : function(data){
	                if (data) {
	                	$('#menu').html('<button onclick="conectar();">Conectar</button>');
	                }
	            }
	        });
	}
</script>

{% endblock %}